
<h2>Sign up</h2>
<div class="box-content">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="form-group">
  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true, class:'form-control' %></div>
</div>
<div class="form-group">
  <div><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %></div>
</div>
<div class="form-group">
  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %></div>
</div>

<div class="form-group">
  <div><%= f.label :user_name %>
    <%= f.text_field :user_name, autocomplete: "off", class:'form-control' %></div>
</div>

<div class="form-group">
  <div><%= f.label :first_name %>
    <%= f.text_field :first_name, autocomplete: "off", class:'form-control' %></div>
</div>

<div class="form-group">
  <div><%= f.label :last_name %>
    <%= f.text_field :last_name, autocomplete: "off", class:'form-control' %></div>
</div>
<div class="form-group">
  <div><%= f.label :date_of_birth %>
    <%= f.datetime_select :date_of_birth, :start_year => 1940, :end_year => Date.current.year, class:'form-control' %></div>
</div>
<div class="form-group">
  <div><%= f.label :gender %>
    <%= f.select(:gender, options_for_select([['Male', 1], ['Female', 0]]), {:prompt => 'Select Gender'})%>
</div>
<div class="form-group">
  <div><%= f.label :mobile %>
    <%= f.text_field :mobile, class:'form-control' %></div>
</div>
  <div><%= f.submit "Sign up", class:'btn btn-default' %></div>
<% end %>
</div>
<%= render "users/shared/links" %>
